/* on Firefox mobile, long press on an image opens the save/copy image dialog. http://stackoverflow.com/questions/3413683/disabling-the-context-menu-on-long-taps-on-android 
  I can't put it on all games, in emulator, because it prevents clicks on images, and some games use ng-click on <img>. */
img {
  pointer-events: none;
}

body {
  background: #FCFAF2;
}

.board {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
}
.bigAvatar1 {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-top-right-radius: 3% 6%;
  border-top-left-radius: 3% 6%;
}
.bigAvatar0 {
  position:absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom-right-radius: 3% 6%;
  border-bottom-left-radius: 3% 6%;
}
.transparent_board {
  opacity: 0.8;
}

.board_row {
  position:absolute;
  /*Top is define in html page...*/
  left: 0;
  width: 100%;
  height: 12.5%;
}

.board_col {
  position:absolute;
  /*Left is define in html page...*/
  width: 12.5%;
  height: 100%;
}

.img_container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.piece {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
}
.avatar_crown {
  top: -10%;
  left: 30%;
  width: 40%;
  height: 40%;
  position: absolute;
}
.help_piece {
  height:60px;
  padding: 10px;
}
.avatar_piece {
  border-radius: 50%;
}
.lighter_avatar_piece {
  /*-webkit-filter: brightness(300%); filter: brightness(300%);*/
  border: 3px solid #FFF;
}
.darker_avatar_piece {
  /*-webkit-filter: brightness(30%); filter: brightness(30%); */
  border: 3px solid #000;
}
.can_drag_from_square {
  background: rgba(124,252,0,0.4);
}
.can_drop_on_square {
  background: rgba(1255,255,0,0.4);
}

td {
  padding:0 5px 0 5px;
}

/****************************************
Animation
****************************************/
.explodePiece {
  z-index: 5;
  animation: explodePiece 0.5s cubic-bezier(0.420, 0.000, 1.000, 0.830) forwards;
}

@keyframes explodePiece {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(3) rotate(10deg);
  }
}

.move_up_left {
  animation: move_up_left 0.5s linear forwards;
}

.move_up_right {
  animation: move_up_right 0.5s linear forwards;
}

.move_down_left {
  animation: move_down_left 0.5s linear forwards;
}

.move_down_right {
  animation: move_down_right 0.5s linear forwards;
}

.jump_up_left {
  animation: jump_up_left 0.5s linear forwards;
}

.jump_up_right {
  animation: jump_up_right 0.5s linear forwards;
}

.jump_down_left {
  animation: jump_down_left 0.5s linear forwards;
}

.jump_down_right {
  animation: jump_down_right 0.5s linear forwards;
}

/****************************************
Simple move key frames.
I know that animating using transform is more efficient than animating top&left,
but due to pixel-snapping, it looks less pretty here (and it animates nicely/fast on nexus5).
https://www.paulirish.com/2012/why-moving-elements-with-translate-is-better-than-posabs-topleft/
****************************************/
/*move up left*/
@keyframes move_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 120%; height: 120%;
    top: -50%;
    left: -50%
  }
  100% {
    width: 100%; height: 100%;
    top: -100%;
    left: -100%
  }
}

/*move up right*/
@keyframes move_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 120%; height: 120%;
    top: -50%;
    left: 50%
  }
  100% {
    width: 100%; height: 100%;
    top: -100%;
    left: 100%
  }
}

/*move down left*/
@keyframes move_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 120%; height: 120%;
    top: 50%;
    left: -50%
  }
  100% {
    width: 100%; height: 100%;
    top: 100%;
    left: -100%
  }
}

/*move down right*/
@keyframes move_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 120%; height: 120%;
    top: 50%;
    left: 50%
  }
  100% {
    width: 100%; height: 100%;
    top: 100%;
    left: 100%
  }
}

/****************************************
Jump move key frames
****************************************/

/*move up left*/
@keyframes jump_up_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%; height: 140%;
    top: -100%;
    left: -100%
  }
  100% {
    width: 100%; height: 100%;
    top: -200%;
    left: -200%
  }
}

/*move up right*/
@keyframes jump_up_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%; height: 140%;
    top: -100%;
    left: 100%
  }
  100% {
    width: 100%; height: 100%;
    top: -200%;
    left: 200%
  }
}

/*move down left*/
@keyframes jump_down_left {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%; height: 140%;
    top: 100%;
    left: -100%
  }
  100% {
    width: 100%; height: 100%;
    top: 200%;
    left: -200%
  }
}

/*move down right*/
@keyframes jump_down_right {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    width: 140%; height: 140%;
    top: 100%;
    left: 100%
  }
  100% {
    width: 100%; height: 100%;
    top: 200%;
    left: 200%
  }
}
