<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Checkers</title>
  <meta name="description" content="Checkers game">
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:[src] lib/angular.min.js -->
  <script src="lib/angular.js"></script>
  <!-- /build -->

  <!-- build:[src] //yoav-zibin.github.io/emulator/dist/turnBasedServices.3.min.js -->
  <script src="https://yoav-zibin.github.io/emulator/dist/turnBasedServices.3.js"></script>
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<div ng-cloak >
  <div id="gameArea">
    <img class="bigAvatar1" 
        onerror="game.onImgError()"
        ng-if="game.cachedBoardAvatar1"
        ng-src="{{game.cachedBoardAvatar1}}" 
        alt="Player big avatar">
    <img class="bigAvatar0" 
        onerror="game.onImgError()"
        ng-if="game.cachedBoardAvatar0"
        ng-src="{{game.cachedBoardAvatar0}}" 
        alt="Player big avatar">
    <img class="board" ng-class="game.cachedBoardClass" src="imgs/board.jpg" alt="Checkers board">

    <div class="board_row" ng-repeat="row in [0, 1, 2, 3, 4, 5, 6, 7]"
         style="top: {{row * 12.5}}%">
      <div class='board_col' ng-repeat="col in [0, 1, 2, 3, 4, 5, 6, 7]"
           style="left: {{col * 12.5}}%"
           ng-class="game.cachedSquareClass[row][col]">
        <div
            id="{{'img_container_' + row + '_' + col}}"
            class="img_container" ng-class="game.cachedPieceContainerClass[row][col]">
          <img ng-class="game.cachedPieceClass[row][col]"
              id="{{'e2e_test_img_' + row + '_' + col}}"
              ng-if="game.cachedPieceSrc[row][col]"
              ng-src="{{game.cachedPieceSrc[row][col]}}" 
              onerror="game.onImgError()"
              alt="Checkers piece">
           <img class="avatar_crown"
              ng-if="game.cachedAvatarPieceCrown[row][col]"
              ng-src="{{game.cachedAvatarPieceCrown[row][col]}}"
              alt="Avatar crown">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
